@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html, body {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    color: #111;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a { color: #3f899e; }

p { line-height: 1.5; }

main {
    max-width: 700px;
    margin: 0 auto;
    display: block;
    padding: 0 5%;
    box-sizing: border-box;
}

main nav ol {
    list-style-type: none;
    padding: 0;
    display: flex;
}

main nav ol li {
    margin-right: 20px;
}

main nav ol li a {
    text-decoration: none;
}
